@import 'vars';
@import 'mixins';

@include main;

main {
    background-image: url('../slike/hero.jpg');
    background-size: cover;
    height: 100vh;
    nav {
        width: 100%;
        background-color: $svetlosiva;
        text-align: center;
        float: left;
        
        ul {
            list-style: none;
            
            li {
                display: inline-block;
                text-transform: uppercase;
                margin: 0 .5em 1em;
                
                a {
                    color: #000;
                    text-decoration: none;
                    padding: .5em;
                    &:hover {
                        background: #000;
                        color: $svetlosiva;
                    }
                }
                .logo {
                    margin: 0;
                    padding: 0;
                    a{
                        background: none;
                        padding: 0;
                    img {
                        width: 45px;     
                    }
                }
                }
            }
        }
    }
    h1 {
        font-size: 1.7em;
        color: #fff;
        background: rgba(92, 92, 92, .8);
        font-weight: normal;
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 20em;
        line-height: 2.5em;
    }
    .dugmeMain {
        text-decoration: none;
        color: #fff;
        background-color: $crvena;
        padding: 2em;
        display: block;
        margin: 0 auto;
        width: 15%;
        margin-top: 2em;
        text-align: center;
        &:hover {
            background-color: #000;
        }
    }
}

section {
    padding: 2em 10%;
    h2 {
        font-family: $font_naslova;
        font-size: 2.7em;
        text-align: center;
        margin-bottom: 2em;;
        text-transform: uppercase;
        font-weight: bold;
    }
}

#info {
    text-align: center;
    background-color: $svetlosiva;
    .plutajuci {
        width: 30%;
        display: inline-block;
        margin: 1em 1em;
        padding: 1em;
        border-radius: 10px;
        .slicica {
            background-color: $svetlosiva;
            border-radius: 50%;
            width: 8em;
            height: 8em;
            padding-top: 2em;
            margin: 0 auto;
            
            img {
                width: 4em;
                display: block;
                margin: 0 auto;
            }

        }
        h3 {
            font-family: $font_naslova;
            font-weight: bold;
            margin-bottom: 1em;
        }
        p {
            text-align: justify;
            span {
                color: $crvena;
                display: block;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                font-size: .9em;
            }
        }
        &:hover {
            background-color: $crna;
            cursor: pointer;
            .slicica {
                background-color: $crvena;
            }
            h3 {
                color: #fff;
            }
            p {
                color: #fff;
            }
        }
    }
}

